<ul id="<%= dom_id(feature, :lines) %>">
  <% feature.lines.each do |line| -%>
    <%= render :partial => "lines/show_with_li", :locals => { :line => line } %>
  <% end -%>
</ul>
<div id="<%= dom_id(feature, :new_line) %>">
</div>
<div id="<%= dom_id(feature, :add_line) %>">
  &nbsp;&nbsp;&nbsp;&nbsp;<%= link_to_remote("Add Line", :url => new_package_feature_line_path(feature.package, feature), :method => :get) %>
</div>
<br/>
