<div id="feature_results">
  <h2>Feature Matches (<%= features.size %>)</h2>
  <% if features.empty? -%>
    <span>No features found</span>
  <% else -%>
    <ul>
      <% features.each do |feature| -%>
        <li>
          <%= link_to feature.title, { :controller => :features, :action => :show_detail, :id => feature.id },
                      { :remote => true, :id => dom_id(feature, :search_result_link), :title => "View Feature" } %>
          <%= search_preview(feature, search_text) %>
        </li>
      <% end -%>
    </ul>
    <%= feature_results_pagination_label(features) %><%= will_paginate features, :previous_label => "<", :next_label => ">", :params => { :text => search_text, :action => :features } %>
<% end -%>
</div>
