<div id="user">
  <% content_tag(:h1, :when_permitted_to => [:index, :users], :otherwise => "<h1>User</h1>") do -%>
    Users
  <% end -%>
  <div id="user_message"></div>
  <div id="user_detail">
    <div class="header highlight_controls_area">
      <div class="title">
        <%= user.login %>
      </div>
      <div class="highlight_controls">
        <%= link_to "Edit", "#", { :id => :user_edit_form_show_link, :title => "Edit User" } %>
        <%= link_to "Change Password", "#", { :id => :user_edit_password_form_show_link, :title => "Change User Password" } %>
        <%= link_to_remote icon(:delete, :red), { :confirm => "Are you sure you want to delete this user?", :url => user_path(user), :method => :delete },
                           { :id => dom_id(user, :delete_link), :title => "Delete" }, { :when_permitted_to => [:delete, user] } %>
        <div style="display: none">
          <div id="user_edit_form_area">
            <%= render :partial => "users/form_edit", :locals => { :user => user, :roles => roles } %>
          </div>
          <div id="user_edit_password_form_area">
            <%= render :partial => "users/form_edit_password", :locals => { :user => user } %>
          </div>
        </div>
        <%= javascript_tag "new UserEditForm().configurePopup()" %>
        <%= javascript_tag "new UserEditPasswordForm().configurePopup()" %>
      </div>
    </div>
    <div class="detail">
      <div class="section">
        <span>Role: <%= user.role.name %></span>
      </div>
    </div>
  </div>
</div>
