<h1>Tag</h1>
<div id="<%= dom_id(tag) %>_content" class="tag_content_area">
  <div id="<%= dom_id(tag) %>_header" class="header highlight_controls_area">
    <div id="<%= dom_id(tag) %>_name" class="title">
      <%= render :partial => "tags/show_name", :locals => { :tag => tag } %>
    </div>
    <div class="highlight_controls">
      <%= link_to icon(:delete, :red), tag_path(tag),
                  :remote => true, :method => :delete, :confirm => "Deleting the tag will remove it from all features.  Are you sure you want to delete this tag?",
                  :id => dom_id(tag, :delete_link), :title => "Delete" %>
    </div>
  </div>
</div>
<div id="<%= dom_id(tag) %>_features" class="tag_features_area">
  <%= render :partial => "features/show_all", :locals => { :features => tag.features, :minimized => true } %>
</div>
