<ul id="<%= dom_id(feature, :scenarios) %>" class="scenarios inner_list">
  <% feature.scenarios.each do |scenario| -%>
    <%= render :partial => "scenarios/show_with_li", :locals => { :scenario => scenario } %>
  <% end -%>
  <li id="<%= dom_id(feature, :new_scenario) %>" style="display: none;">
  </li>
  <li id="<%= dom_id(feature, :add_scenario) %>">
    <%= link_to_remote("Add Scenario", :url => new_package_feature_scenario_path(feature.package, feature), :method => :get) %>
  </li>
</ul>
