<% li_for(scenario, :style => element_style(:hidden => hidden)) do -%>
  <div class="inner_header highlight_controls_area">
    <div id="<%= dom_id(scenario) %>_title_area">
      <span>Scenario:</span>
      <div id="<%= dom_id(scenario) %>_title">
        <%= render(:partial => "scenarios/show_title", :locals => { :scenario => scenario }) %>
      </div>
    </div>
    <div class="highlight_controls">
      <%= add_before_link(:model => scenario, :url => { :controller => :scenarios, :action => :new, :feature_id => scenario.feature.id }) %>
      <%= link_to_remote "X", { :confirm => "Are you sure you want to delete this scenario?", :url => package_feature_scenario_path(scenario.package, scenario.feature, scenario), :method => :delete }, { :id => dom_id(scenario, :delete_link), :title => "Delete" } %>
    </div>
  </div>
  <%= render :partial => "steps/list", :locals => { :scenario => scenario } %>
<% end -%>
