<% li_for(feature) do -%>
  <div id="<%= dom_id(feature) %>_details" class="element_heading">
    <%= link_to_remote feature.title, { :url => package_feature_path(feature.package, feature), :method => :get }, { :id => "#{dom_id(feature)}_toggle_link", :class => "toggle_link" } %>
    <div id="<%= dom_id(feature) %>_edit_controls" class="edit_controls">
      <%= link_to_remote "Edit", { :url => edit_package_feature_path(feature.package, feature), :method => :get }, { :class => "edit-link" } %>
      <%= link_to_remote "Delete", { :confirm => "Are you sure you want to delete this feature?", :url => package_feature_path(feature.package, feature), :method => :delete }, { :class => "delete-link" }%>
    </div>
    <div id="<%= dom_id(feature) %>_edit_form" style="display: none;">
    </div>
  </div>
  <div id="<%= dom_id(feature) %>_expand_area" class="expand_area" style="display: none;">
  </div>
<% end -%>
