<%= link_to_remote feature.title, { :update => "#{dom_id(feature)}_heading_area", :url => edit_package_feature_path(feature.package, feature), :method => :get }, { :class => "editable-text-link" } %>
<%= link_to_remote "Delete", { :confirm => "Are you sure you want to delete this feature?", :url => package_feature_path(feature.package, feature), :method => :delete } %>
<div id="<%= dom_id(feature) %>_show_url_area" class="show_url_area">
  <%= link_to_remote "Show Url", { :url => { :action => :show_url, :id => feature.id }, :method => :get } %>
  <div id="<%= dom_id(feature) %>_show_url" class="feature_heading_popup show_url" style="display: none;">
  </div>  
</div>
<div id="<%= dom_id(feature) %>_tags_area" class="tags_area">
  <%= link_to_remote "Manage Tags", { :url => { :action => :manage_tags, :id => feature.id }, :method => :get } %>
  <div id="<%= dom_id(feature) %>_tags_list_area" class="tag_list_area">
    <%= render :partial => "features/show_tags", :locals => { :feature => feature } %>
  </div>
  <div id="<%= dom_id(feature) %>_tags_form_area" class="feature_heading_popup tags_form_area" style="display: none;">
  </div>
</div>
