<%= form_for(user_session, :as => :user_session,
                           :remote => true,
                           :url => user_session_path,
                           :html => { :id => "sign_in_#{form_type}_form",
                                      :class => "sign_in simple",
                                      :style => element_style(:hidden => hidden) }) do |form| -%>
  <% field_set_tag do -%>
    <%= render :partial => "common/show_errors", :locals => { :error_messages => user_session.errors.full_messages } %>
    <%= form.label(:login, "Username") %><%= form.text_field(:login, :maxlength => 128, :size => 30) %>
    <%= form.label(:password) %><%= form.password_field(:password, :maxlength => 128, :size => 30) %>
    <div class="buttons">
      <%= submit_tag "Sign In" %>
    </div>
  <% end -%>
<% end -%>
