<li id="<%= add_anywhere_presenter.form_container_dom_id %>" style="display: none;">
  <% remote_form_for(model_name, model, :url => url,
                     :html => { :onsubmit => "new AddAnywhereForm('##{add_anywhere_presenter.form_container_dom_id}').setPositionField();", :class => "add_anywhere" },
                     :add_anywhere_presenter => add_anywhere_presenter,
                     :builder => form_builder) do |form| -%>
    <% field_set_tag do -%>
      <%= form.hidden_field_tag(:form_number, add_anywhere_presenter.form_number) %>
      <%= form.hidden_field_for(:position) %>
      <%= render :partial => "#{model_name.to_s.pluralize}/form_common", :locals => { :form => form, :model => model } %>
      <div id="<%= controller.new_id_prefix(model) %>_new_<%= model_name %>_errors" class="errors" style="display:none;">
      </div>
    <% end -%>
  <% end -%>
</li>
