<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-Transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="robots" content="all" />
    <meta name="copyright" content="&copy; 2009" />

    <title>Platter - Feature Management - Cucumber served in a PracticLe Acceptance Testing Tool for EveRyone</title>

    <!-- to correct the unsightly Flash of Unstyled Content. http://www.bluerobot.com/web/css/fouc.asp -->
    <%= javascript_tag %>

    <%= stylesheet_link_tag "ie_bug_fix", "reset", "nifty_corners", "jquery.autocomplete", "application" %>
    <%= javascript_include_tag "jquery-1.3.2.min", "jquery-ui-1.7.2.all.min", "jrails", "jquery.autocomplete",
                               "jquery.bgiframe", "jquery.dump", "lowpro.jquery", "niftycube", "rounded",
                               "application_jquery_extensions", "application_form", "application_menu",
                               "application_model", "application" %>
  </head>
  <body>
    <%= render :partial => "features/menu_fold", :locals => { :root_folder => @root_folder } %>
    <div id="container">
      <div id="header">
        <div id="logo">
          <%= link_to image_tag("logo.png"), { :controller => :features, :action => :index }, :title => "Home" %>
        </div>
        <%= render :partial => "features/menu_header" %>
      </div>
      <div id="content">
        <%= yield %>
        <br style="clear: left;"/>
      </div>
      <div id="footer">
        <div id="inner_footer">
          &copy; Copyright 2009
        </div>
      </div>
    </div>
  </body>
</html>
