<% content_for :header_title_area do -%>
  <%= link_to current_project.name, project_path(current_project), { :id => dom_id(current_project, :show_link), :title => "View Project" } %>
<% end -%>
<% content_for :header_controls_area do -%>
  <div id="search">
    <%= render :partial => "search/form" %>
  </div>
<% end -%>
<% content_for :sidebar_area do -%>
  <div id="sidebar_button_area">
    <div id="add_feature">
      <%= link_to image_tag("btn-addfeature.png"), "#", { :title => "Add Feature", :id => :add_feature_link } %>
      <div style="display: none;">
        <div id="add_feature_form_area">
          <%= render :partial => "features/form_add", :locals => { :folders => @folders } %>
        </div>
      </div>
      <%= javascript_tag "new AddFeatureLink().configureFormPopup()" %>
    </div>
  </div>
  <div id="folders">
    <%= render :partial => "folders/show_root", :locals => { :root_folder => @root_folder, :highlighted_feature => nil } %>
    <div id="root_folder_expand_and_collapse_area">
      <%= link_to "expand all", "#", { :id => :root_folder_expand_link, :title => "Expand All Folders" } %>
      <span>&nbsp;|&nbsp;</span>
      <%= link_to "collapse all", "#", { :id => :root_folder_collapse_link, :title => "Collapse All Folders" } %>
    </div>
    <div style="display: none;">
      <div id="folder_import_form_area">
        <%= render :partial => "folders/form_import" %>
      </div>
      <%= link_to "View Folder Form", "#folder_import_form", :id => :folder_import_form_show_link, :style => "display: none", :title => "Import Folder" %>
      <%= javascript_tag "new FolderImportForm().configurePopup()" %>
    </div>
    <div id="folder_information">
      Click on a feature to view more details.  You can drag and drop folders and features to sort them.
    </div>
  </div>
<% end -%>
<% content_for :main_area do -%>
  <div id="features_container">
    <%= yield %>
  </div>
  <iframe id="upload_frame" name="upload_frame" style="display: none"></iframe>
<% end -%>
<%= render :file => "layouts/secure" %>
