<html>
  <head>
    <%= stylesheet_link_tag "common" %>
    <%= javascript_include_tag :all %>
    <title>Platter - Cucumber served on a PracticLe Acceptance Testing Tool for EveRyone</title>
  </head>
  <body>
    <p>
      <%= image_tag("logo.png") %>
      <%= link_to "Packages", packages_path %>
    </p>
    <% if flash[:error] -%>
      Error: <%= flash[:error] %>
    <% end -%>
    <% if flash[:message] -%>
      Message: <%= flash[:message] %>
    <% end -%>
    <%= yield %>
  </body>
</html>
